/* Reset WordPress default editor styles */
.editor-styles-wrapper {
    padding: 0 !important;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-styles-wrapper p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.editor-editor-interface .interface-interface-skeleton__content{
    padding: 0 2.5rem!important;  
}

.block-editor-iframe__html{
    section:not(.header-image){
        margin: 0!important;
        /* padding: 6.25rem 0!important; */

        a{
            pointer-events: none;
        }
    }
}

.block-editor-block-list__block a{
    pointer-events: none;
}

/* add below css specific for this site admin blocks */