/* Reset WordPress default editor styles */
.editor-styles-wrapper {
    padding: 0 !important;
}

.editor-editor-interface .interface-interface-skeleton__content{
    padding: 0 2.5rem!important;  
}

.block-editor-iframe__html{
    section:not(.header-image){
        /* margin: 0!important; */
        /* padding: 6.25rem 0!important; */

        a{
            pointer-events: none;
        }
    }
}

.block-editor-block-list__block a{
    pointer-events: none;
}

button.components-button{
    min-height: auto;
}

.with-padding{
    margin: 2rem 0;
}

.wp-picker-input-wrap{
    .wp-color-picker{
        display: none!important;
    }
}

.iris-picker{
    .iris-palette{
        width: 2.5rem!important;
        height: 2.5rem!important;
    }
}
/* add below css specific for this site admin blocks */