:root {
    color-scheme: dark light;
    --spacing-mobile: 3rem;
    --spacing-tablet: 4rem;
    --spacing-desktop: 6.25rem;
}

[hidden] {
    display: none !important;
}

html {
    color-scheme: light;
    font-family: var(--font-family-text);
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body{
    background: var(--secundairy-text-color);
    min-height: 100vh;
    color: var(--dark-text-color);
    &.menu-is-open {
        overflow: hidden;
    }
}

#site-container {
    position: relative;
    overflow: hidden;
}

#content {
    padding-top: 4.625rem;
    section:first-of-type:not(.hero) {
        margin-top: 0;
    }
}

@view-transition {
  navigation: auto;
}

body {
  view-transition-name: bodyfade;
}

::view-transition-old(bodyfade) {
  animation: oldPop 0.25s ease forwards;
  transform-origin: bottom;
}

::view-transition-new(bodyfade) {
  animation: newPop 0.9s ease forwards;
  transform-origin: top;
}

@keyframes oldPop {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(1) translateY(50px);
  }
}

@keyframes newPop {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(-50px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.cover-image {
    position: relative;
    width: 100%;

    > img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
    }
}

.align-image-top{
    .cover-image{
        > img{
            object-position: top;
        }
    }
}

.wrapper {
    position: relative;
    width: calc(100% - 4rem);
    max-width: 68.75rem;
    margin: 0 auto;

    @media (min-width: 48rem) {
        width: calc(100% - 6rem);
    }

    @media (min-width: 60rem) {
        width: 85%;
    }
}

.with-margin {
    margin: var(--spacing-mobile) 0;
    scroll-margin-top: var(--spacing-mobile);

    @media (min-width: 48rem) {
        margin: var(--spacing-tablet) 0;
        scroll-margin-top: var(--spacing-tablet);
    }
    @media (min-width: 60rem) {
        margin: var(--spacing-desktop) 0;
        scroll-margin-top: var(--spacing-desktop);
    }
}

.with-padding {
    padding: var(--spacing-mobile) 0;

    @media (min-width: 48rem) {
        padding: var(--spacing-tablet) 0;
    }
    @media (min-width: 60rem) {
        padding: var(--spacing-desktop) 0;
    }
}

.full-width{
    width: calc(100% - 1.25rem);
    margin: 0 auto;
    border-radius: 0.625rem;
    max-width: 112.5rem;
    @media (min-width: 80rem) {
        border-radius: 1.25rem;
    }
}


.with-margin-medium{
    margin: calc(var(--spacing-mobile) * 0.5) 0;

    @media (min-width: 48rem) {
        margin: calc(var(--spacing-tablet) * 0.5) 0;
    }
    @media (min-width: 60rem) {
        margin: calc(var(--spacing-desktop) * 0.5) 0;
    }
}

.with-padding-medium {
    padding: calc(var(--spacing-mobile) * 0.5) 0;

    @media (min-width: 48rem) {
        padding: calc(var(--spacing-tablet) * 0.5) 0;
    }
    @media (min-width: 60rem) {
        padding: calc(var(--spacing-desktop) * 0.5) 0;
    }
}

.with-margin-small{
    margin: calc(var(--spacing-mobile) * 0.25) 0;

    @media (min-width: 48rem) {
        margin: calc(var(--spacing-tablet) * 0.25) 0;
    }
    @media (min-width: 60rem) {
        margin: calc(var(--spacing-desktop) * 0.25) 0;
    }
}

.with-padding-small {
    padding: calc(var(--spacing-mobile) * 0.25) 0;

    @media (min-width: 48rem) {
        padding: calc(var(--spacing-tablet) * 0.25) 0;
    }
    @media (min-width: 60rem) {
        padding: calc(var(--spacing-desktop) * 0.25) 0;
    }
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}