.btn, input[type="submit"], input[type="reset"] {
    transition: all 0.2s ease-in-out;
    position: relative;
    font-size: 1rem;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    background: var(--black-bg-color);
    color: var(--secundairy-text-color);
    padding: 0.8125rem 1.625rem;
    text-decoration: none;
    border-radius: 1.375rem;
    line-height: 1;
    overflow: hidden;
    &:hover{
        background: var(--primary-text-color);
        color: var(--white-bg-color);
    }

    &.btn-white{
        background-color: var(--white-bg-color);

        &:hover{
            background-color: var(--primary-text-color);
        }
    }
}

.btn-center{
    text-align: center;
}