.cta {
  z-index: 2;
  .wrapper{
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    @media screen and (min-width: 60rem) {
      display: flex;
      gap: 7.5rem;
      flex-direction: row;
      align-items: stretch;
    }
  }

}

.cta-text {
  flex: 1;
  margin-bottom: 2.5rem;
  
  h3{
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  p{
    margin-bottom: 1.125rem;
  }
  
  @media screen and (min-width: 48rem) {
    max-width: 20.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 1rem);
    margin-bottom: 0;
  }

}

.cta-image {
  flex: 1;
  min-height: 22.875rem;
  height: auto;
  overflow: hidden;
  border-radius: 0.625rem;

  @media (min-width: 60rem) {
    max-width: 38.125rem;
    min-height: 35.375rem;
  }
}

.header-image-image{
  height: 16.875rem;
  max-height: 80vh;
  overflow: hidden;
  @media screen and (min-width: 60rem) {
    height: 26.25rem;
  }
}

.body-text{
  .wrapper{
    @media screen and (min-width: 48rem) {   
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 4rem;
    }
  }
}

.body-text-text{
  @media screen and (min-width: 48rem) {
    grid-column: span 7;
  }
}

.overview{
  h2{
    margin-bottom: 1.5rem;
    @media screen and (min-width: 60rem) {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }
}

.overview-items{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  @media screen and (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 60rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.overview-item{
  position: relative;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background: #F8F8F8;
  overflow: hidden;

  .light-text &{
    background: #595959;
  }
  &:hover{
    .overview-item-image img{
      transform: scale(1.05);
    }
  }
}

.overview-item-image{
  width: 100%;
  height: 12.5rem;
  overflow: hidden;
  img{
    transition: all 0.2s ease-in-out;
  }
}

.overview-item-text{
  position: relative;
  padding: 1.625rem 1.875rem;
  width: 100%;
  h3, p{
    color: var(--dark-text-color);
  }
  h3{
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
  }
  p{
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 0;
  }
}

.overview-item-text-summary{
  height: 4.125rem;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  margin-bottom: 1.25rem;
}

.overview-more-btn{
  margin-top: 2rem;
  @media screen and (min-width: 60rem) {
    margin-top: 3rem;
  }
}

.hero {
  height: 35.625rem;
  position: relative;

  @media(min-width:48rem) {
    height:49.375rem;
  }

  &::before{
    @media screen and (max-width: 60rem) {
      width: 50%;
      left: -20%;
    }
  }

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent linear-gradient(15deg, #00000000 0%, #000000FC 84%, #000000 0%) 0% 0% no-repeat padding-box;
      opacity: 0.5;
    }

    img{
      object-position: center var(--valign, 50%);
    }
  }


  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
    @media(min-width:101.125rem) {
      /* justify-content: center; */
    }

    .text{
      color: #F8F8F8;
      margin-bottom: 1.25rem;
    }

    .hero-text {
      margin-bottom: 1.875rem;
      margin-top: 10.9375rem;
      max-width: 18.5rem;
      margin-left: 1.875rem;

      @media(min-width:48rem) {
        max-width: 28.125rem;
        margin-bottom: 4.625rem;
        margin-left: 13.125rem;
      }
      @media(min-width:101.125rem) {
        margin-left: 0;
      }



      h1 {
        color: var(--secundairy-text-color);
        line-height: 2.5rem;

        @media(min-width:48rem) {
          font-size: 4.375rem;
          line-height: 1;
          margin-bottom: 1.25rem;

        }
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(15deg, #00000000 0%, #000000FC 83%, #000000 100%) 0% 0% no-repeat padding-box;
    opacity: 0.5;
  }

  .inner-text{
    position: relative;
    font-family: var(--font-family-handwritten);
    font-size: 1.375rem;
    line-height: 1.375rem;
    color: #fff;
    max-width: 12.125rem;
    text-align: center;
    margin-left: 2.5rem;
    margin-top: 1.875rem;
    @media screen and (min-width: 60rem) {
      margin-left: 4.0625rem;
      margin-top: 4.875rem;
    }
    .arrow-hero{
      position: absolute;
      right: -3.125rem;
      top: 0.75rem;
    }
  }
}