/* 
    bp-mobile: 30rem;
    bp-tablet: 48rem;
    bp-desktop-small: 60rem;
    bp-desktop-medium: 80rem;
    bp-desktop-large: 90rem; 
*/

:root {
    --primary-text-color: #000;
    --secundairy-text-color: #fff;

    --dark-text-color: var(--primary-text-color);
    --light-text-color: var(--secundairy-text-color);

    --button-bg-color: var(--primary-text-color);
    --button-text-color: var(--secundairy-text-color);
    
     --font-family-text: Bahnschrift, sans-serif;
}

.light-text{
    --dark-text-color: var(--light-text-color);
    --button-bg-color: var(--secundairy-text-color);
    --button-text-color: var(--primary-text-color);
}