.search-form{
    margin: 2.5rem 0;
    max-width: 31.25rem;
    input[type="search"]{
        width: 100%;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        border: 0.0625rem solid #D9D9D9;
        border-radius: 0.25rem;
        box-shadow: none;
        transition: border-color 0.3s ease;
        margin-bottom: 0.625rem;
    }
    input[type="search"]:focus{
        border-color: var(--color-primary);
        outline: none;
    }
}

.search-result-item{
    padding: 1.25rem 0;
    border-top: 0.0625rem solid #D9D9D9;
    border-bottom: 0.0625rem solid #D9D9D9;

    .btn{
        margin-top: 0.625rem;
    }
}